<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Critics</title>
</head>
<body>
    <h1>Here are our Critics</h1>

        <% @critics.each do |critic| %>
        <li><a href="/critics/<%= critic.id %>"><%= critic.name %></a></li>
        <% end %>
</body>
</html>