<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Critic</h1>
    <form action='/critics' method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name"><br>
        <label for="soc_med">Social Media:</label><br>
        <input type="text" name="soc_med"><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>