<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit a Restaurant</h1>
    <form action="/restaurants/<%= @restaurant.id %>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="PATCH">
        <label for="name">Name:</label><br>
        <input type="text" name="name" value="<%= @restaurant.name %>"><br>
        <label for="cuisine">Cuisine:</label><br>
        <input type="text" name="soc_med" value="<%= @restaurant.cuisine %>"><br>
        <label for="neighborhood">Cuisine:</label><br>
        <input type="text" name="neighborhood" value="<%= @restaurant.neighborhood %>"><br>
        <input type="submit" value="Edit">
    </form>
</body>
</html>